body {
    background-color: bisque;
    background-size: cover;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#c
#carouselContainer{
    background-color: bisque;
    height:650px;
}
#footerTxt{
    line-height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
}
.footerContainer{
    width:100%;
}
.navbar{
    border-radius: 0;
    background-color: black;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
div.c-wrapper{
    width: 70%; 
    margin: auto;
}  
.carousel-inner > .item > img, 
.carousel-inner > .item > a> img {
    width:100%;
    height:100%;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px; 
}
.footer {
    clear: both;
    position: relative;
    right: 0;
    bottom: -45px;
    left: 0;
    width: 100%;
    padding: 0rem;
    height:100%;
    background: #efefef;
    text-align: center;
    margin-bottom: 3px;
}
.footerSupplies {
    clear: both;
    position: relative;
    right: 0;
    bottom: -82px;
    left: 0;
    width: 100%;
    padding: 0rem;
    height:100%;
    background: #efefef;
    text-align: center;

}
.footerService {
    clear: both;
    position: relative;
    right: 0;
    bottom: -136px;
    left: 0;
    width: 100%;
    padding: 0rem;
    height:100%;
    background: #efefef;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.carousel-caption {
    position: absolute;
    bottom: 18%;
  }
.btn-lg {
    font-size:25px
  }
#welcomeTextContainer{
    width: 900px;
    margin: auto;
  }
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
@media (max-width: 768px) {
    .btn {
      font-size:11px;
      padding:4px 6px;
    }
  }
  
  @media (min-width: 768px) {
    .btn {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
  @media (min-width: 992px) {
    .btn {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
  @media (min-width: 1200px) {
    .btn {
      padding:10px 16px;
      font-size:18px;
    }
  }
  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.img-thumbnail{
    width:100%;
    height:100%;
 }
 .img-thumbnail-map{
    width:100%;
    height:120%;
 }